<html>

        <head>
    <title>Bienvenidos al Bosquecito</title>
    </head>
    <body>
      <p>Bienvenido al Bosquecito!</p>
      <p>Navega con nosotros!</p>
    </body>
    </html>
           <head>
               <title>Django Girls blog</title>
           </head>
           <body>
               <div>
                   <h1>Espacio familiar, ecológico basado en los principios de la permacultura</h1>
               </div>

               <div>
                   <p>published: 14.06.2014, 12:14</p>
                   <h2><a href="">My first post</a></h2>
                   <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
               </div>

               <div>
                   <p>published: 14.06.2014, 12:14</p>
                   <h2><a href="">My second post</a></h2>
                   <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
               </div>
           <p>Espacio familiar, ecológico basado en los principios de la permacultura</p>
       </html>
